name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e '.[dev]'
      - run: ./scripts/lint
      - name: Debug working dir
        run: |
          echo "PWD=$(pwd)"
          echo "GITHUB_WORKSPACE=$GITHUB_WORKSPACE"
          ls -la
      - name: Write token.json
        shell: bash
        env:
          TOKEN_JSON: ${{ secrets.TOKEN_JSON}}
        run: |
          if [ -z "${TOKEN_JSON:-}" ]; then
            echo "TOKEN_JSON secret is not set."
            exit 1
          fi
          printf '%s' "$TOKEN_JSON" > token.json
      - run: ./scripts/test
