name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e '.[dev]'
      - run: ./scripts/lint
      - name: Debug working dir
        run: |
          echo "PWD=$(pwd)"
          echo "GITHUB_WORKSPACE=$GITHUB_WORKSPACE"
          ls -la
      - name: Write service_credentials.json
        shell: bash
        env:
          CREDENTIALS_JSON: ${{ secrets.CREDENTIALS_JSON}}
        run: |
          if [ -z "${CREDENTIALS_JSON:-}" ]; then
            echo "CREDENTIALS secret is not set."
            exit 1
          fi

          CREDS_PATH="$RUNNER_TEMP/service_credentials.json"
          printf '%s' "$CREDENTIALS_JSON" > "$CREDS_PATH"

          echo "GOOGLE_APPLICATION_CREDENTIALS=$CREDS_PATH" >> "$GITHUB_ENV"
      - run: ./scripts/test
